/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f8fab8;
  font-family: fira-sans, sans-serif;
}
body header {
  background: #ccf0e1;
  width: auto;
  display: flex;
  flex-direction: column;
}
body header .top-header {
  background: #f8dc88;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding: 20px;
}
body header .top-header h1 {
  font-family: sarina, sans-serif;
  font-size: 30px;
  color: white;
  padding: 5px;
}
body header .top-header h1 p {
  background: pink;
  height: 20px;
}
body header .top-header #carrito {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .top-header #carrito i {
  color: white;
  margin-bottom: 10px;
}
body header .top-header #carrito #lista-carrito {
  display: none;
  width: auto;
  background: white;
  padding: 15px;
}
body header .top-header #carrito #lista-carrito a {
  font-size: 10px;
  background: pink;
  padding: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body header .top-header #carrito #lista-carrito .lista-carrito-titulos {
  display: flex;
  padding: 5px;
}
body header .top-header #carrito #lista-carrito .lista-carrito-titulos p {
  padding: 10px;
}
body header .top-header #carrito:hover #lista-carrito {
  display: block;
}
body header .descripcion {
  padding: 20px;
  text-align: center;
}
body header .descripcion h2 {
  margin-bottom: 15px;
}
body header .descripcion .buscador {
  background: pink;
  width: 250px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border: none;
}
body header .descripcion button {
  width: 250px;
  height: 30px;
  background: #f8dc88;
  border: none;
  cursor: pointer;
}
body .catalogo-kayak {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
body .catalogo-kayak h1 {
  font-size: 40px;
  padding: 50px;
}
body .catalogo-kayak .card {
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8dc88;
}
body .catalogo-kayak .card .info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .catalogo-kayak .card img {
  width: 250px;
  margin: 20px;
}
body .catalogo-kayak .card h4 {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  background: #ccf0e1;
}
body .catalogo-kayak .card h5 {
  font-size: 15px;
  margin: 10px;
}
body .catalogo-kayak .card button {
  background: pink;
  border: none;
  width: auto;
  height: 30px;
  cursor: pointer;
}
body .catalogo-kayak .card button:hover {
  background: #f8fab8;
}

/*# sourceMappingURL=style.css.map */
