@import 'reset.scss';
@import 'variables.scss';


body{
    background: $amarillo;
    font-family: fira-sans, sans-serif;
    header{
        background: $celeste;
        width: auto;
        display: flex;
        flex-direction: column;
        .top-header{
            background:$naranja;
            display: flex;
            flex-direction: column;
            align-items:center;
            padding-top: 20px;
            padding: 20px;    
            h1{
                font-family: sarina, sans-serif;
                font-size: 30px;
                color: white;
                padding:5px;
                p{
                    background: pink;
                    height: 20px;
                } 
            }
            #carrito{
                margin-top:20px;
                display:flex;
                flex-direction: column;
                align-items:center;
                
                i{
                    color: white;
                    margin-bottom: 10px;
                    
                    
                }
                
                #lista-carrito{
                    display: none;
                    width: auto;
                    background: white;
                    padding: 15px;
                    a{
                        width: 100px;
                        font-size: 10px;
                        background: pink;
                        padding: 5px;
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                        text-align: center;
                        &:hover{
                            background: $celeste;
                        }

                    }
                    #contenedor-carrito{
                        display: flex;
                        flex-direction: column;
                        align-items:center;
                        
                        div{
                            display: flex;
                            flex-direction: row;
                            margin:15px;
                            align-items:center;
                            h1{
                                color: black;
                                font-size: 15px;
                                font-family: fira-sans, sans-serif;
                                text-align: center;
                            }
                            a{
                                width:25px;
                                font-size: 20px;
                                margin-left: 10px;
                            }
                        }
                    
                    }
                    
                    
                }
                &:hover #lista-carrito{
                    display: flex;
                    flex-direction: column;
                    align-items:center;

                    
                }
                
            }
        }
        .descripcion{
            padding: 20px;
            text-align: center;
            h2{
                margin-bottom: 15px;
            }
            input{
                background: pink;
                width:250px;
                height: 30px;
                font-size: 20px;
                text-align: center;
                border:none;
                
            }
            button{
                width:250px;
                height: 30px; 
                background: $naranja;
                border:none;
                cursor:pointer;
                &:hover{
                    background: $amarillo;
                }
            }
        }
    }
    .catalogo-kayak{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin:15px;
        h1{
            font-size: 40px;
            padding:50px;
        }
        .card{
            
            margin: 10px;
            padding:15px;
            display: flex;
            flex-direction: column;
            align-items:center;
            background: $naranja;
            .info-card{
                display: flex;
                flex-direction: column;
                align-items:center;
            }
            img{
                width: 250px;
                margin:20px;
                
            }
            h4{
                margin:5px;
                padding: 5px;
                font-size: 15px;
                background: $celeste;
            }
            h5{
                font-size: 15px;
                margin:10px;

            }
            button{
                background: pink;
                border: none;
                width: auto;
                height: 30px;
                cursor: pointer;
                &:hover {
                    background: $amarillo;
                }
            }

        }
    }
}